
@{
    ViewData["Title"] = "Course2";
}
    <div>
        <h3>Add Course: </h3>

        <form action="/Home/Course2" method="Post">

            <input type="text" name="Title" />
            <input type="number" name="SeatCount" />
            <input type="number" name="Fee" />
            <input type="submit" value="Submit" />
        </form>
    </div>
<br />
<br />
<div>
    <h3>Edit Course: </h3>
    <form action="/Home/EditCourse" method="post">
        <input type="text" name="Id" placeholder="Course Id" />
        <input type="text" name="Title" placeholder="Title" />
        <input type="text" name="SeatCount" placeholder="SeatCount" />
        <input type="text" name="Fee" placeholder="Fee" />
        <input type="submit" value="Edit" />
    </form>
</div>
<br />
<br />
<div>
    <h3>Delete Course: </h3>
    <form action="/Home/DeleteCourse" method="post">
        <input type="text" name="Id" placeholder="Course Id" />
        <input type="submit" value="Delete" />
    </form>
</div>